<%= javascript_include_tag :pictures %>

<div>
  <%= image_tag @picture.image.preview.url %>
</div>

<div id="mini-map"></div>

<div id='neighbors' data-picture-id='<%= @picture.id %>'>
  <a data-method='patch' class='neighbor-thumb template' href='' rel='nofollow'>
    <img alt='' src=''>
  </a>
</div>

<div>
  <%= form_for @picture, method: :patch do |f| %>
    <%= f.text_field :latitude, value: @latitude, type: 'hidden' %>
    <%= f.text_field :longitude, value: @longitude, type: 'hidden' %>
    <%= f.submit 'create new artifact' %>
<% end %>
</div>

<script>
  // passes data from server to JS
  var latitude = <%=raw @latitude.to_json %>;
  var longitude = <%=raw @longitude.to_json %>;
</script>
