<%= javascript_include_tag :pictures %>

<div id="art-create" class="container">
  <h1 class="center">Something new?</h1>
  <div class="separator center"><%= image_tag '/images/dk_separator_01.png' %></div>
  <h2 class="center">Add your photo to matching artwork. Or make a fresh contribution.</h2>

  <div>
      <%= form_for @picture, method: :patch do |f| %>
        <%= f.text_field :latitude, value: '', type: 'hidden' %>
        <%= f.text_field :longitude, value: '', type: 'hidden' %>
        <%= f.submit 'add as new', class: "simple-icon-button" %>
      <% end %>
    </div>
  <div class="inner">
    <div id="user-image">
      <%= image_tag @picture.image.preview.url %>
    </div>
    <div id="mini-map"></div>
    <p id="map-note" class="center">Adjust your position for more accuracy or to find a match.</p>
  </div>
  <div id='neighbors' data-picture-id='<%= @picture.id %>'>
    <div class='neighbor-thumb template'>
      <a data-method='patch' href='' rel='nofollow'>
        <img alt='' src=''>
      </a>
    </div>
  </div>
</div>

<script>
  var latitude = <%= raw @latitude.to_json %>;
  var longitude = <%= raw @longitude.to_json %>;
</script>
