<%= javascript_include_tag :upload %>

<div class="container">
  <h1 class="center">Upload</h1>

  <%= form_for @picture do |f| %>
    <%= f.file_field :image, accept: 'image/jpeg' %>
    <%= f.text_field :longitude, value: '', type: 'hidden' %>
    <%= f.text_field :latitude, value: '', type: 'hidden' %><br>
    <%= f.submit %>
  <% end %>

</div>
