<%= javascript_include_tag :upload %>

<div class="container">
  <div id="headings">
    <% if !mobile_device? %>
      <h1 class="center">
        <%= "It's art. Deal with it." %>


      </h1>
      <div class="separator center"><%= image_tag '/images/dk_separator_01.png' %></div>
    <% end %>

    <h2 <%= raw 'class="center"' unless mobile_device? %>>Explore. Discover. Share. Vote.</h2>

  </div>

  <%= render "layouts/uploader" %>
  <%= render 'artifacts/gallery' %>
</div>
