<%= javascript_include_tag :upload %>
<%= javascript_include_tag :artifacts_show %>

<div class="container">

  <%= render "layouts/uploader" %>

  <div id="info-bar">
    <div id="neighborhood" class="left">
      <h2><%= image_tag "/images/marker_rev.png", class: "small-icon" %><%= link_to @artifact.neighborhood.pri_neigh, neighborhood_path(@artifact.neighborhood) %></h2>
    </div>

    <div id="votes" class="right">

      <%= link_to (image_tag("/images/heart_rev.png")), artifact_upvote_path(@artifact), remote: true, method: "put"%>

      <span id="counter"><%= @artifact.votes %></span>

        <%= link_to (image_tag("/images/broken_heart_rev.png")), artifact_downvote_path(@artifact), remote: true, method: "put"%>

    </div>
  </div>

  <div id="images" class="clear-both">
    <div id="mini-map" class="left one-third"></div>

    <div id="thumbs-box" class="right two-thirds">
      <% @artifact.picture_urls.each do |pic| %>
      <div class="thumb-box">
        <div><%= image_tag pic %></div>
      </div>
      <% end %>
    </div>
  </div>

  <% if @artifact.is_reported %>
    <p>This so called piece of "art" has been flagged for removal with the City of Chicago.</p>
    <p>Service Request ID: #<%= @artifact.request_status.pop["service_request_id"]%></p>
    <p>Request Status: <%= @artifact.request_status.pop["status"].capitalize %></p>

  <% end %>
</div>

<script>
  var latitude = <%= @artifact.latitude %>
  var longitude = <%= @artifact.longitude %>
</script>
