<%= javascript_include_tag :upload %>
<%= javascript_include_tag :artifacts_show %>

<div class="container">

  <%= render "layouts/uploader" %>

  <div id="info-bar">
    <div id="neighborhood" class="left">
      <h2><%= image_tag "/images/marker_rev.png", class: "small-icon" %><%= link_to @artifact.neighborhood.pri_neigh, neighborhood_path(@artifact.neighborhood) %></h2>
    </div>

    <% unless @artifact.votes.to_i <= -10 %>
      <div id="votes" class="right">
        <span id="counter"><%= @artifact.votes %></span>

        <%= link_to (image_tag("/images/heart_rev.png")), artifact_upvote_path(@artifact), remote: true, method: "put", class: "upvote" %>
        <%= link_to (image_tag("/images/broken_heart_rev.png")), artifact_downvote_path(@artifact), remote: true, method: "put", class: "downvote" %>
      </div>
    <% end %>
  </div>

  <% if @artifact.is_reported %>
    <div id="flagged-artifact">
        <p>This so called piece of "art" has been flagged for removal with the City of Chicago.</p>
        <p>Service Request ID: <span id="service-id">
          <%= link_to "##{@artifact.request_status.pop["service_request_id"]}", "http://servicetracker.cityofchicago.org/requests/#{@artifact.request_status.pop["service_request_id"]}" %></span>

           Request Status: <span id="service-status"><%= @artifact.request_status.pop["status"].capitalize %></span></p>
    </div>
  <% end %>

  <div id="images" class="clear-both">
    <div id="mini-map" class="left one-third"></div>

    <div id="thumbs-box" class="right two-thirds">
      <% @artifact.picture_urls.each do |pic| %>
      <div class="thumb-box">
        <div><%= image_tag pic %></div>
      </div>
      <% end %>
    </div>
  </div>


</div>

<script>
  var latitude = <%= @artifact.latitude %>
  var longitude = <%= @artifact.longitude %>
</script>
