<%= form_tag locations_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>


<table>
  <tr>
    <th>Adress</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>
  <% @locations.each do |loc| %>
  <tr>
    <td><%= loc.address %></td>
    <td><%= loc.latitude %></td>
    <td><%= loc.longitude %></td>
  </tr>
  <% end %>
</table>
