<div id="uploader">
  <%= form_for Picture.new do |f| %>
    <div class="file-input">
      <p class="text">click or drag here</p>
      <%= f.file_field :image, accept: 'image/jpeg' %>
      <div id="buttons">
         <%= button_tag "cancel", type: "button", class: "cancel" %>
        <%= f.submit "save", class: "submit" %>
      </div>
    </div>
    <%= f.text_field :longitude, value: '', type: 'hidden' %>
    <%= f.text_field :latitude, value: '', type: 'hidden' %><br>
  <% end %>
</div>
